# Virtual environment
venv/
.env
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Config files
app/config/**/app.config

# Logs and temp files
*.log
*.tmp

# Dependency files
Pipfile
Pipfile.lock

# VS Code settings
.vscode/

# MacOS & Linux system files
.DS_Store
.idea/
