services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      api-network:
        ipv4_address: 172.21.1.50

networks:
  api-network:
    ipam:
      config:
        - subnet: 172.21.1.0/24
